body{
    font-family: 'Special Elite', cursive;
    background:pink
}

.header_div{
    background:yellow;
    color:aquamarine;
}
.header_div p{
    font-family:'Roboto',sans-serif;
    color:black;
    letter-spacing:2px;
    font-size:16px;
    font-weight:bold;
}
.main_div button{
    font-family:'Robotot',sans-serif;
    margin-top:30px;
    width:130px;
    font-weight:bolder;
    letter-spacing: 2px;
}
.copy_right_footer{
    position:fixed;
    color:aqua;
    bottom:0;
    width:100%
    font-size: 18px;
    background-color:yellow;
    text-align:center,
    text-shadow: 5px 5px  5px rgb(151,149,149);
}